<div class="form-container">

  <h2>{{ isEdit ? 'Editar tarea' : 'Crear nueva tarea' }}</h2>

  <label>Título</label>
  <input [(ngModel)]="task.title" />

  <label>Descripción</label>
  <textarea [(ngModel)]="task.description"></textarea>

  <label>Estado (Columna)</label>
  <select [(ngModel)]="task.columnId">
    <option *ngFor="let col of columns" [value]="col.id">
      {{ col.name }}
    </option>
  </select>

  <label>Prioridad</label>
  <select [(ngModel)]="task.priority">
    <option [value]="1">Baja</option>
    <option [value]="2">Media</option>
    <option [value]="3">Alta</option>
  </select>

  <label>Fecha límite</label>
  <input type="date" [(ngModel)]="task.dueDate">

  <button class="btn save" (click)="save()">Guardar</button>
  <button class="btn cancel" routerLink="/list">Cancelar</button>

</div>
